.export-box {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: 350px;
}

.export-box button {
  margin-top: 10px;
  padding: 8px 14px;
  border: none;
  background-color: #2c3e50;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

.export-box button:hover {
  background-color: #1a252f;
}
