table {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
  margin-top: 10px;
}

th {
  background-color: #34495e;
  color: white;
  padding: 10px;
}

td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}
